.active {
    background-color: #2d2e99
}
.padded {
    margin-left: 15px;
    margin-top: 15px;
}
.header {
    padding: 1px;
    background: #ff9900;
    color: white;
    font-size: 30px;
}
.buttons {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #ff9900;
    border: none;
    color: black;
    display: inline-block;
    padding: 15px 32px;
    cursor: pointer;
}
.invalid {
    color: red;
    margin-top: 10px;
    margin-left: 10px;
}

.mainmenu {
  height: 0px;
}
.mainmenu ul#nav {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.mainmenu ul#nav li {
  display: inline-block;
  position: relative;
  font-size: 25;
  background: grey;
}
.mainmenu ul#nav li a {
  color: black;
  display: block;
  margin: 0 -2px;
  padding: 2px 15px;
  text-transform: uppercase;
}
.mainmenu ul#nav li:hover>a {
  background: #ff9900 none repeat scroll 0 0;
}
#nav>li {
  position: relative;
}
#nav>li:hover ul {
  opacity: 1;
  z-index: 9999;
  top: 100%;
  visibility: visible;
}
#nav>li ul {
  background: #fff none repeat scroll 0 0;
  opacity: 0;
  left: -2px;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  transition: all 0.3s ease 0s;
  width: 204px;
  padding-left: 2px;
  z-index: -99999;
  top: 150%;
  visibility: hidden
}
#nav>li ul li {
  display: block;
  width: 200px;
}
.mainmenu ul#nav li ul li a:hover {
  color: #fff;
  border-left: 4px solid #000;
  padding-left: 10px;
}
.mainmenu ul#nav li ul li a {
  border-bottom: 1px solid #ddd;
  color: #000;
  padding: 10px 10px;
  text-decoration: none;
}
.mainmenu ul#nav li ul li.sub-sub-menu ul {
  position: absolute;
  left: 100%;
  top: 0px;
  display: none;
  text-decoration: none;
}
.mainmenu ul#nav li ul li.sub-sub-menu:hover ul {
  display: block;
}
.question{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}
.answers{
    margin-left: 60px;
    margin-bottom: 10px;
}
.results{
    float: right;
    font-size: 50px;
    margin-right: 150px;
}
